
body
{
    background-size: cover;
}
.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}
.note
{
    font-size: 15px;
    color: black;
}
.play_button
{
    font-size: 25px;
}
canvas
{
     border:20px;
     box-shadow:10px;
     padding:10px;
     margin: 20px; 
}